{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>
        "Account"
    </title>

    <link rel="stylesheet" href="{% static 'listingstyle.css' %}">
    <link rel="stylesheet" href="{% static 'AccountUserStyle.css' %}">
    <link rel="stylesheet" href="{% static 'AccountSellerStyle.css' %}">
</head>

<body>
    <h2>
    <div class="links"> 
    <ul>
         <a href="{% url 'AccountSeller' %}" style="text-decoration: none;" >Account</a> 
      <a href="{% url 'Seller_Home' %}"style="text-decoration: none;">View Your Listings</a>
           <a href="{% url 'AddListing' %}"style="text-decoration: none;">Add a New Listing</a>
        <a href="{% url 'logout' %}"style="text-decoration: none;"> Logout</a>
    </ul>
    </div>
</h2>
    <div class="main">
    <article class="payment">
        <h3 class="text1">Earnings:</h3>
        <p class="text3">${{seller.balance}}</p>
        {% for notification in notifications %}
        <li> {{notification.buyer}} has purchased {{notification.quantity}} of "{{notification.listing.title}}" for ${{notification.price}}</li>
        <form action="{% url 'dismiss_notification' notification.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Dismiss</button>
        {% endfor %}
        {% for return_notification in return_notifications %}
        <li> {{return_notification.buyer}} has returned {{return_notification.quantity}} of "{{return_notification.listing.title}}" for ${{return_notification.price}}</li>
        <form action="{% url 'dismiss_return_notification' return_notification.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Dismiss</button>
        {% endfor %}
        </article>
   
    <article class="spacing">
    <!-- Update Buyer Profile -->
    <h1>Account Management</h1>
    <h3>Update Profile:</h3>
    <a href="{% url 'UpdateSeller'  %}">Update Profile</a>
</article>
</div>
</body>

</html>