{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Account Checkout</title>
    <link rel="stylesheet" href="{% static 'checkout.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Include FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    
    
</head>

<body>
    <div class="row">
        <div class="container">
            <form action="{% url 'checkout_review' %}" method="post">
                <!-- Include CSRF token -->
                {% csrf_token %}

                <!-- Hidden fields to store cart items-->
                {% for item in cart_items %}
                <input type="hidden" name="cart_items[]" value="{{ item.book.id }}">
                <input type="hidden" name="quantities[]" value="{{ item.quantity }}">
                {% endfor %}


                <div class="row">
                    <div class="col-50">
                        <h3>Billing Address</h3>

                        <!-- Get the full name of the user -->
                        <label for="full_name"><i class="fa fa-user"></i> Full Name</label>
                        <input type="text" id="full_name" name="full_name" placeholder="John M. Doe" required>

                        <!-- Get Email address -->
                        <label for="email"><i class="fa fa-envelope"></i> Email</label>
                        <input type="email" id="email" name="email" placeholder="john@example.com" required>

                        <!-- Address -->
                        <label for="address_main"><i class="fas fa-map-marker-alt"></i> Address</label>
                        <input type="text" id="address_main" name="address_main" placeholder="542 W. 15th Street" required>
                        <label for="address_opt"></label>
                        <input type="text" id="address_opt" name="address_opt" placeholder="Apt, Suit, Unit Building (Optional)">

                        <!-- City -->
                        <label for="city"><i class="fas fa-institution"></i> City</label>
                        <input type="text" id="city" name="city" placeholder="New York" required>

                        <div class="row">
                            <div class="col-50">
                                <!-- State -->
                                <label for="state">State</label>
                                <input type="text" id="state" name="state" placeholder="NY" required>
                            </div>
                            <div class="col-50">
                                <!-- Zip -->
                                <label for="zip">Zip</label>
                                <input type="text" id="zip" name="zip" placeholder="10001" pattern="[0-9]{5}" required>
                            </div>
                        </div>
                    </div>

                    <div class="col-50">
                        <h3>Payment</h3>
                        <label for="fname">Accepted Cards</label>
                        
                        <div class="icon-container">
                            <i class="fab fa-cc-visa" style="color:navy;"></i>
                            <i class="fab fa-cc-amex" style="color:blue;"></i>
                            <i class="fab fa-cc-mastercard" style="color:red;"></i>
                            <i class="fab fa-cc-discover" style="color:orange;"></i>
                        </div>

                        <!-- Name on Card -->
                        <label for="card_hold_name">Name on Card</label>
                        <input type="text" id="card_hold_name" name="card_hold_name" placeholder="John More Doe" required>

                        <!-- Card Number -->
                        <label for="card_num">Credit card number</label>
                        <input type="text" id="card_num" name="card_num" placeholder="1111-2222-3333-4444" pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}" required>

                        <!-- Expiration -->
                        <label for="exp">Expiration Date (MM/YYYY)</label>
                        <input type="text" id="exp" name="exp" placeholder="04/20" pattern="(0[1-9]|1[0-2])\/([0-9]{4}|[0-9]{2})" required>

                        <div class="row">
                            <div class="col-50">
                                <!-- CVV -->
                                <label for="cvv">CVV</label>
                                <input type="text" id="cvv" name="cvv" placeholder="352" pattern="[0-9]{3}" required>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- Move back to the previous page -->
                <a href="{% url 'User_Cart' %}" style="text-decoration: none;">Back</a>
                

                <!-- Move to the next page in the checkout process/submits the data -->
                <button type="submit">Continue</button>
            </form>
        </div>
    </div>

</body>

</html>


<!---
<h1>Account Checkout</h1>
    <h3>Enter Your Shipping Information</h3>

    <form action="{% url 'checkout_pay' %}" method="post">
        !--Incluce CSRF token--
        {% csrf_token %}

        !--Input for Name on Card--
        <lable for="card_hold_name">
            Card Holders Name:
        </lable>
        <input name="card_hold_name" placeholder="Enter Card Holders Name" required>

        !--Input for Card Num--
        <lable for="card_num">Card Number:</lable>
        <input name="card_num" placeholder="Enter Card Number" required>

        !--Input for expire number--
        <lable for="exp"></lable>
        <input name="exp" placeholder="MM/YY" required>

        !--Input for Cvv--
        <lable for="cvv"></lable>
        <input name="cvv" placeholder="Cvv" required>

        !--Moves back to the previous page--
        <div class="wrap"><button onclick="window.history.back()">Back</button></div>

        !--Moves to the next page in the checkout process/submits the data--
        <a href="{% url 'checkout_review' %}"><button type='submit'>Continue</button></a>
    </form>
-->

<!--

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title> Account Checkout</title>
    <link rel="stylesheet"
        href="{% static 'checkout.css' %}">

    
    
</head>

<body>
    <div class="row">
        <div class="container">
            <form action="{% url 'checkout_pay' %}" method="post">
                !--Incluce CSRF token--
                {% csrf_token %}
                <div class="row">
                    <div class="col-50">
                        <h3>Billing Address</h3>

                        !--Get the full name of the user--
                        <lable for="full_name"><i classs="fa fa-user"></i> Full Name</lable>
                        <input type="text" id="full_name" name="full_name" placeholder="John M. Doe" required>

                        !--Get Email address--
                        <lable for="email"><i class="fa fa-envelope"></i> Email</lable>
                        <input type="text" id="email" name="email" placeholder="john@example.com" required>

                        !--Address--
                        <lable for="address_main"><i class="fa fa-address"></i> Address</lable>
                        <input type="text" id="address_main" name="address_main" placeholder="542 W. 15th Street" required>
                        <lable for="address_opt"></lable>
                        <input type="text" id="address_opt" name="address_opt" placeholder="Apt, Suit, Unit Building (Optional)">

                        !--City--
                        <lable for="city"><i class="fa fa-institution"></i> City</lable>
                        <input type="text" id="city" name="city" placeholder="New York" required>

                        <div class="row">
                            <div class="col-50">

                                !--State--
                                <lable for="state">State</lable>
                                <input type="text" id="state" name="state" placeholder="NY" required>  
                            </div>
                            <div class="col-50">
                                !--Zip--
                                <labe for="zip">Zip</labe>
                                <input type="text" id="zip" name="zip" placeholder="10001" required>
                            </div>
                        </div>  
                    </div>

                    <div class="col-50">
                        <h3>Payment</h3>
                        <lable for="fname">Accepted Cards</lable>
                        <div class="icon-container">
                            <i class="fa fa-cc-visa" style="color:navy;"></i>
                            <i class="fa fa-cc-amex" style="color:blue;"></i>
                            <i class="fa fa-cc-mastercard" style="color:red;"></i>
                            <i class="fa fa-cc-discover" style="color:orange;"></i>
                        </div>

                        !--Name on Card--
                        <lable for="card_hold_name">Name on Card</lable>
                        <input type="text" id="card_hold_name" name="card_hold_name" placeholder="John More Doe" required>

                        !--Card Number--
                        <lable for="card_num">Credit card number</lable>
                        <input type="text" id="card_num" name="card_num" placeholder="1111-2222-3333-4444" required>

                        !--Exporation--
                        <lable for="exp">Exp Month</lable>
                        <input type="text" id="exp" name="exp" placeholder="04/20" required>

                        <div class="row">
                            <div class="col-50">

                                !--Cvv--
                                <lable for="cvv">CVV</lable>
                                <input type="text" id="cvv" name="cvv" placeholder="352" required>
                            </div>
                        </div>



                    </div>
                </div>
                !--Moves back to the previous page--
                <div class="wrap"><button onclick="window.history.back()">Back</button></div>

                !--Moves to the next page in the checkout process/submits the data--
                <a href="{% url 'checkout_review' %}"><button type='submit'>Continue</button></a>
            </form>
        </div>
    </div>
    
</body>
</html>


-->